@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

html, body{
    height: 100%;
    width: 100%;
    font-family: "Parkinsans", sans-serif;   
}


.button{
    padding: 18px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.row {
    margin: 8px 0;
}

.row input{
    font-size: 18px;
    padding: 8px 0px;
    margin: 0;
    border: 2px solid gold ;   
    border-radius: 8px;
}